body{
    text-align: center;
}
#home{
background-image: linear-gradient(red, yellow, blue);
    color: aliceblue;
    font-size: 50px;
}
#name{
    font-size: 50px;
}
html{
    scroll-behavior: smooth;
}
.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}
#div{
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
}